:root {
    --font-title: 'Arvo', serif;
    --font-body: "Droid Sans", Helvetica, Arial, sans-serif;
}

.Body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.Heading {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #DD6E6E;
    padding: 10px 15px;
}

.Heading .Heading-title {
    font-family: var(--font-title);
    font-weight: 400;
    font-size: 30pt;
    line-height: 1.5em;
    color: #ffffff;
}

@media only screen and (max-width: 768px) {
    .Heading {
        padding: 5px 15px;
    }
    
    .Heading .Heading-title {
        font-size: 20pt;
    }
}

.Content {
    background-color: #ffffff;
    padding: 30px 20px 50px 20px;
}

.BodyText {
    color: #000000;
    font-family: var(--font-body);
    font-weight: 400;
    line-height: 1.5em;
}

.BodyText--1 {
    font-size: 25pt;
}

.BodyText--2 {
    font-size: 20pt;
}

.BodyText--3 {
    font-size: 15pt;
}

.Headline {
    font-family: var(--font-title);
    font-weight: 700;
    line-height: 1.5em;
}

.Headline--1 {
    font-size: 25pt;
}

.Headline--2 {
    font-size: 20pt;
}

.Headline--3 {
    font-size: 15pt;
}

.Footer {
    background-color: #000000;
    padding: 35px;
    text-align: center;
}

.Footer .Footer-text {
    color: #ffffff;
    font-size: 15pt;
    line-height: 1.5em;
    font-family: var(--font-body);
}