
.Nav {
    background-color: var(--color-white);
}

.Nav .Nav-container {
    padding-left: 50px;
    max-width: 768px;
    margin: 0 auto;
}

.Nav .Nav-link {
    font-family: var(--font-title);
    font-weight: 400;
    font-size: 20pt;
    line-height: 1.5em;
    color: var(--color-black);
    padding: 0 10px;
    text-decoration: none;
    cursor: pointer;
}

.Nav .Nav-link:hover {
    color: var(--color-secondary);
}

.Nav .Nav-selected {
    border-bottom: 6px solid var(--color-secondary);
}

@media only screen and (max-width: 768px) {
    .Nav .Nav-container {
        margin: 0;
        display: flex;
        justify-content: space-around;
        padding-left: 0;
    }
}
