<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.0.0/mermaid.min.js"></script>
<script>
    window.Lazyload.js('https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.0.0/mermaid.min.js', function() {
    var config = {
            startOnLoad:true,
            theme: 'forest',
            flowchart:{
                    useMaxWidth:false,
                    htmlLabels:true
                }
        };
        mermaid.initialize(config);

        {% comment %} mermaid.init(undefined, '.language-mermaid'); {% endcomment %}
        window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
    });
</script>

{% comment %} 
Example usage

<div class="mermaid">
graph LR
    a --> b
</div> 

{% endcomment %}