
.Headline {
    font-family: var(--font-title);
    font-weight: 700;
    line-height: 1.5em;
}

.Headline--1 {
    font-size: 25pt;
}

.Headline--2 {
    font-size: 20pt;
}

.Headline--3 {
    font-size: 15pt;
}
