{% extends "../components/blog.twig" %}

{% block page_title %}
Balancing time to delivery with feature coverage
{% endblock %}

{% block content %}
    <div class="Content-container">

        <p class="BodyText BodyText--2 u-textJustify">
            MVP
            AB Testing
              Shipping broken to gain signal
            The dichotomy of best practices and quick iteration
            Value of time now vs time later
            Tighten the relationship with designer
            Design mock is hard - can we change it?
        </p>

    </div>
{% endblock %}