{% extends "components/core.twig" %}

{% block nav %}
{% set selected_page='about' %}
{% endblock %}

{% block page_title %}
About Brandon
{% endblock %}

{% block content %}
    <div class="Content-container">
    <h1 class="Headline Headline--1">Foreward: </h1>
    <div>
        <p class="BodyText BodyText--2 u-textJustify">
            Statistical analysis would suggest I am not a particularly noteworthy developer; however, the experiences I have had to bring me to where I am today are likely, at least a little, unique. Given this, I hope you can take some value in me sharing my perspective. 
        </p>
        <p class="BodyText BodyText--2 u-textJustify">
            This is a series of living documents that should get updated as my thoughts grow and change. Please do not take them as absolute truths.
        </p>
    </div>
    </div>
{% endblock %}