---
layout: default
---

<div class="Content-container">
  {%- if page.title -%}
    <h1>{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.topics.size > 0 -%}
    <h2>{{ page.list_title | default: "Topics" }}</h2>
    <ul>
      {%- for topic in site.topics -%}
        {% if topic.published %}
          <li>
            {% comment %} {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span>{{ post.date | date: date_format }}</span> {% endcomment %}
            <h3>
              <a href="{{ topic.url }}">
                {{ topic.title | escape }}
              </a>
            </h3>
            {%- if site.show_excerpts -%}
              {{ topic.excerpt }}
            {%- endif -%}
          </li>
        {% endif %}
      {%- endfor -%}
    </ul>
  {%- endif -%}


    <h2>{{ page.list_title | default: "Upcoming Topics" }}</h2>
    <span>These topics are in the works! Come back and check them out.</span>
    <ul>
      <li><span>Engineering Compassion</span></li>
      <li><span>Mentorship Topic</span></li>
      <li><span>Telling a story through commit messages</span></li>
      <li><span>Focusing on impact: Career growth</span></li>
      <li><span>Focusing on impact: Telling a story</span></li>
    </ul>

</div>
